html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Cormorant Garamond',
    serif;
  font-size: 18px;
}

/* navigation */
#nav-info {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-brand {
  font-family: 'Dancing Script',
    cursive;
  ;
}

.navbar-toggler {
  border: 0;
  outline: 0;
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  min-height: 5em;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0%);
  transition: all 0.3s ease-in-out;
}

/* hero */
.hero {
  background-image: url("../img/artiva-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  margin-bottom: -2em;
}

.hero h3 {
  font-family: 'Dancing Script',
    cursive;
  ;
}

.hero a button {
  margin-top: 1em;
}



.hero h3 {
  font-family: 'Dancing Script',
    cursive;
  ;
}

.hero a button {
  margin-top: 1em;
}

.hero div {
  padding: 3em;
}

/* sections */
.bg-section {
  padding: 1em;
  margin: 1em 0em;
}

.bg-section h2 {
  font-size: 3em;
  text-transform: uppercase;
}

.bg-section h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: .5em;
  margin-bottom: 1em;
  border-bottom: 2px solid red;
}

/* services */
#services h3 {
  margin-top: 2em;
}

/* gallery */
#gallery {
  background-color: #000000;
}

#gallery .row {
  margin: 1em;
}

#gallery a {
  margin: .5em 0em;
}


/* about */

/* contact */
#contact {
  background-color: #000000;
}

#contact input {
  border-radius: 0px;
}

#contact-img {
  visibility: hidden;
  padding: 0em;
  margin: 0em;
}

#contact-img img {
  height: 0px;
}

/* footer */
footer {
  margin: -1em;
}

@media (min-width: 831px) {
  .hero {
    min-height: 140vh;
  }

  .nav-item:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease-in-out;
    color: #ffffff;
  }

  .smart-scroll {
    min-height: 2.5em;
  }

  #gallery a {
    margin: 0em;
  }

  #contact-img {
    padding: 2.5em 6em;
    visibility: visible;
  }

  #contact-img img {
    height: 400px;
  }
}