html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Cormorant Garamond',
    serif;
  font-size: 18px;
}

/* navigation */
.navbar-collapse {
  justify-content: flex-end;
}

.navbar-brand {
  font-family: 'Dancing Script',
    cursive;
  ;
}

/* nav */
.nav-item:hover {
  transform: scale(2);
  margin: 0em 1em;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}

/* hero */
.hero {
  background-image: url("../assets/img/artiva-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  margin-bottom: -2em;
}

@media (min-width: 800px) {
  .hero {
    min-height: 140vh;
  }
}

.hero h3 {
  font-family: 'Dancing Script',
    cursive;
  ;
}

.hero a button {
  margin-top: 1em;
}

.hero div {
  padding: 3em;
}

/* sections */
.bg-section {
  padding: 1em;
  margin: 1em 0em;
}

.bg-section h2 {
  font-size: 3em;
  text-transform: uppercase;
}

.bg-section h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 3%;
  padding-top: .5em;
  margin-bottom: 1em;
  border-bottom: 2px solid red;
}

/* services */
#services h3 {
  margin-top: 2em;
}

/* gallery */
#gallery {
  background-color: #000000;
}

.row {
  margin: 15px;
}

/* about */

/* contact */
#contact {
  background-color: #000000;
}