html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

/* navigation */
.navbar-collapse {
  justify-content: flex-end;
}

.navbar-brand {
  font-family: 'Dancing Script',
    cursive;
  ;
}

/* hero */
.hero {
  background-image: url("../assets/img/artiva-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}

.hero h3 {
  font-family: 'Dancing Script',
    cursive;
  ;
}

.hero a button {
  margin-top: 1em;
}